.navbar-logo {
  font-family: "Kaushan Script";
  color: white;
  font-size: xx-large;
}

/*Cards*/
.back-card {
  display: inline-block;
  width: 5.5em;
  height: 7.0em;
  border: 2px solid rgb(216, 212, 212);
  border-radius: .3em;
  padding: .15em;
  margin: 0 .3em .3em 0;
  background-image: linear-gradient(to bottom right, #373B44, #0758da);
  /* background-image: linear-gradient(to bottom right, #aa4b6b, #6b6b83, #3b8d99); */
  box-shadow: .2em .2em .5em #333;
  position: relative;
}

.card {
    display: inline-block;
    width: 4.5em;
    height: 5.8em;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    background-color: #fff;
    box-shadow: .2em .2em .5em #333;
    position: relative;
  }
  
  .card-value {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    top: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-symbol {
    position:absolute;
    top:0;
    right:0;
    font-size: 0.8em;
  }
  
  .bottom-card-symbol {
    position:absolute;
    bottom:0;
    right:0;
    text-align: right;
    font-size: 0.8em;
  }
  
  a.card {
    text-decoration: none;
  }
  