.system-name {
    font-family: "Kaushan Script";
    color: white;
    font-size: 3vw;
    margin-top: 0.1vw;
    margin-bottom: 3%;
}

.card {
    display: inline-block;
    width: 25.5vw;
    height: 33.8vw;
    border: 1px solid #666;
    border-radius: .5em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    background-color: #fff;
    box-shadow: .2em .2em .5em #333;
    position: relative;
}

.card-value {
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-symbol {
    position: absolute;
    font-size: 2.0vw;
}

.card-symbol-top {
    top: 0;
    right: 0;
}

.card-symbol-bottom {
    bottom: 0;
    right: 0;
    transform: rotate(-180deg);
}

.card-symbol-red{
    color: red;
}

.card-symbol-black{
    color: black;
}

a.card {
    text-decoration: none;
}

.login-card-title {
    text-align: center;
    
    font-family: "Kaushan Script";
    font-size: 4.5vw;
}

.login-black-card-title {
    color: black;
}

.login-red-card-title {
    color: red;
}

.login-footer {
    text-align: center;
    color: white;
    font-size: 0.9vw;
}

.casino-coin-size {
    width: 4vw;
    height: 4vw;
    margin-top: 0.8vw;
    margin-bottom: 3%;
}
